@media (max-width : 380px) {
    body{
        width: 96%;
        margin: auto;
    }
    header ul{
        display: block;
        width: 100%;
        padding: 0;
    }
    header li{
        width: 100%;
    }
    section {
        display: block;
    }
    aside, main{
        width: 100%;
        margin: 0.3em 0;
    }

    section li{
        padding: 0;
        width: 100%;
        margin:1em 0;

    }
    
}
