* {
    margin: 0;
    padding: 0;
}
body {
    width: 70%;
    margin: auto;
    background-color: silver;


}
h1 {
    color: rgb(249, 197, 14);
    font-size: 2em;
    text-align: center;
    padding: 1em;
}

header ul {
    display: flex;
    list-style-type: none;
    background-color: rgb(227, 99, 65);
    padding: 2em;
    margin: auto;
    justify-content: space-around;


}
section {
    display: flex;
    flex-flow: row-reverse;
    /*align-items: center;*/
    align-items: stretch;
    min-height: 600px;
    width: 100%;


}
aside{
    width: 25%;
}
aside, main {
    border: 2px solid black;
    margin: 0.3em;
}

aside ul {
    list-style-type: none;
    background-color: rgb(227, 99, 65);


}
li {
    padding: 1em;
    width: 150px;
    text-align: center;

}

p{
    margin: 1em;
    text-align: justify;
}
a {
    color: white;
    text-decoration: none;
    background-color: rgb(207, 114, 28);
    width: 100%;

}
