@media screen and (min-width : 380px) and (max-width : 999px){
    body{
        width: 95%;
        margin: auto;
    }
    header ul{
        display: ;
        padding: 0;

    }
    aside ul {
        display: flex;

    }

    section {
        display: block;
    }
    h1{
        font-size: 25px;
    }
    header,
    h1,
    main,
    aside,
    li,
    ul {
        padding: 0 ;
        width: 100%;
        margin: 1em 0;
        border: none;

    }
}
